# IDEs and text editors
*~
*.swp
.idea/
.project
.pycharm_helpers/
.pydevproject

# ignore gradle artifacts
.gradle/*
lib/*
build/*

# ignore compiled artifacts
*.pyc
*.class

# ignore pytest artifacts
.cache/*

# ignore testing variable script
local_env.sh

# ignore the files downloaded to build out Jenkins
plugins/*
utils/*
installed_plugins

# ignore artifacts from e2e tests
.tox/
geckodriver.log
logs/
