# Local environnment setup example
# Copy to a new file (local_env.sh) and fill in the values you wish
# By default, these variables all default to using the config files found in
# jenkins-configuration/test_data
# Run `source local_env.sh` to set up your environment

export CONFIG_PATH='test_data'
export PLUGIN_CONFIG='test_data/plugins.yml'

# If you choose to pull a Jenkins war file from somewhere else,
# change this variable
export JENKINS_WAR_SOURCE='https://s3.amazonaws.com/edx-testeng-tools/jenkins'

export JENKINS_VERSION='jenkins_2.89.4'
export CONTAINER_NAME='jenkins'
