# Local environnment setup example
# Copy to a new file (local_env.sh) and fill in the values you wish
# By default, these variables all default to using the config files found in
# jenkins-configuration/test_data
# Run `source local_env.sh` to set up your environment

export CONFIG_PATH='test_data'
export PLUGIN_CONFIG='test_data/plugins.yml'

# If you choose to pull a Jenkins war file from somewhere else,
# change this variable
export JENKINS_WAR_SOURCE='https://s3.amazonaws.com/edx-testeng-tools/jenkins'

export JENKINS_VERSION='jenkins_2.249.1'
export CONTAINER_NAME='jenkins'
export IMAGE_NAME='localjenkins'

# specify the shard to use when building a docker container. the
# shard value is used to specify which scripts are copied into the
# docker container AND which tests should be run against the container
# export TEST_SHARD=shard_1

# Save artifacts on bok-choy test failures
export SCREENSHOT_DIR=logs
export SELENIUM_DRIVER_LOG_DIR=logs
